@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #3A0FBC;
    --second-color: #7466FF;
}

body {
    background-color: #F4F4F4;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

/* FORM */

.custom-button {
    background-color: var(--main-color);
    border-radius: 10px 10px 40px 10px;
    transition: all ease 0.25s;
}

.custom-button:hover {
    background-color: var(--second-color);
}