@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #3A0FBC;
    --second-color: #7466FF;
}

body {
    background-color: #F4F4F4;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 0 15%;
}

.flex {
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* NAVBAR */

nav {
    background-color: var(--main-color);
    justify-content: center;
    padding: 1.25em 0;
    margin-bottom: 2em;
}

#nav-logo {
    height: 2em;
}

/* HEADER */

header {
    margin-bottom: 2em;
}

header > div {
    justify-content: space-around;
}

.headline {
    flex-direction: column;
    justify-content: center;
}

.headline h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 2em;
}

.headline h2 span {
    font-weight: bold;
}

.headline h3 {
    font-size: 1.3em;
    font-weight: bold;
}

#header-img {
    width: 25em;
}

/* KEY-POINTS */

#key-points {
    margin-bottom: 2em;
    padding: 2em 0;
    background-color: white;
}

.svg-container{
    height: 12em;
}

.points {
    justify-content: space-between;
}

.point {
    width: 33%;
    text-align: center;
}

#key-points h4 {
    font-size: 1.4em;
    margin-bottom: 0.4em;
}

/* MAIN */

main {
    margin-bottom: 2em;
}

main p {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65)
}

.interest {
    margin-bottom: 2em;
}

.interest p {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8)
}

/* FORM */

form {
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;
}

.custom-input:focus {
    outline: none;
}

.custom-input {
    font-family: 'Nunito', sans-serif;
    width: 20em;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    margin-right: 0.5em;
}

.custom-button {
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-color);
    color: white;
    padding: 0 30px;
    border-radius: 10px 10px 40px 10px;
    cursor: pointer;
    border: none;
    transition: all ease 0.25s;
}

.custom-button:hover {
    background-color: var(--second-color);
}